<div class="container-fluid text-light">
    <div class="container-fluid holder">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <!-- <p>Col 1</p> -->
              <img src="../../assets/logo.png">
              <ul>
                <li>FREE CONSULT
                    AZFAWASTEMANAGEMENT31@GMAIL.COM</li>
              </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <h3>Solutions</h3>
                  <!-- <hr> -->
                  <ul>
                      <li>MUNICIPAL SOLID WASTE</li>
                      <li>BIOMINING</li>
                      <li>MRF (MATERIAL RECOVERY FACILITIES)</li>
                  </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <h3>More</h3>
                  <!-- <hr> -->
                  <ul>
                      <li>BIO METHANATION – CNG</li>
                      <li>FECAL SLUDGE MANAGEMENT</li>
                      <li>INDUSTRIAL WASTE MANAGEMENT</li>
                  </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <h3>More</h3>
                  <!-- <hr> -->
                  <ul>
                      <li>INTEGRATED ENVIRONMENTAL SERVICES</li>
                      <li>CONSTRUCTION AND DEMOLITION WASTE MANAGEMENT</li>
                      <li>BIOMEDICAL WASTE MANAGEMENT</li>
                  </ul>
            </div>
          </div>
          <hr class="my-2">
          <p class="mb-0 copyright">Copyright © 2023 Azfa Waste Management Pvt Ltd. All Rights Reserved Powered by Induco CIAL.</p>
    </div>
    
  </div>