<div class="container-fluid text-light">
    <div class="container-fluid holder">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <!-- <p>Col 1</p> -->
              <img src="../../assets/logo.png">
              <ul>
                <li>FREE CONSULT
                    AZFAWASTEMANAGEMENT31@GMAIL.COM</li>
              </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <h3>Solutions</h3>
                  <!-- <hr> -->
                  <ul>
                      <li><button (click)="showSoln($event)" value="MUNICIPAL SOLID WASTE">MUNICIPAL SOLID WASTE</button></li>
                      <li><button (click)="showSoln($event)" value="BIOMINING – REMEDIATION AND RECLAMATION OF OLD LEGACY MSW">BIOMINING</button></li>
                      <li><button (click)="showSoln($event)" value="MRF (MATERIAL RECOVERY FACILITIES)">MRF (MATERIAL RECOVERY FACILITIES)</button></li>
                  </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <h3>More</h3>
                  <!-- <hr> -->
                  <ul>
                      <li><button (click)="showSoln($event)" value="FECAL SLUDGE MANAGEMENT">FECAL SLUDGE MANAGEMENT</button></li>
                      <li><button (click)="showSoln($event)" value="INDUSTRIAL WASTE MANAGEMENT">INDUSTRIAL WASTE MANAGEMENT</button></li>
                  </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 colm">
              <h3>More</h3>
                  <!-- <hr> -->
                  <ul>
                      <li><button (click)="showSoln($event)" value="INTEGRATED ENVIRONMENTAL SERVICES">INTEGRATED ENVIRONMENTAL SERVICES</button></li>
                      <li><button (click)="showSoln($event)" value="CONSTRUCTION AND DEMOLITION WASTE MANAGEMENT">CONSTRUCTION AND DEMOLITION WASTE MANAGEMENT</button></li>
                      <li><button (click)="showSoln($event)" value="BIOMEDICAL WASTE MANAGEMENT">BIOMEDICAL WASTE MANAGEMENT</button></li>
                  </ul>
            </div>
          </div>
          <hr class="my-2">
          <p class="mb-0 copyright">Copyright © 2023 Azfa Waste Management Pvt Ltd. All Rights Reserved Powered by Induco CIAL.</p>
    </div>
    
  </div>