<section id="banner">
    <div class="container-fluid banner">
        <h1>IEC</h1>
        <p>[home - IEC]</p>
    </div>
</section>

<section class="data">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>IEC (Information Education and Communication)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 holder holder-1 shadow">
                <img src="../../assets/pin.png" class="pin" width="50">
                <div class="image">
                    <img src="../../assets/iec1.jpg" width="100%">
                </div>
            </div>

            <div class="col-lg-5 holder holder-2 shadow">
                <img src="../../assets/pin.png" class="pin" width="50">
                <div class="image">
                    <img src="../../assets/iec2.jpeg" width="100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 text">
                <p>Cube Welfare Society (CWS) established in 2019 to help in developing Clean and Healthy communities.
                    To achieve this, CWS actively participate in Information Education and Communication (IEC) campaigns
                    and develop IEC tools for faster, better and clear communication. Major activities covered under
                    this are Mensuration health, Spot Fixes, Waste Segregation, Door to Door Interpersonal Campaigns,
                    IEC activities for Waste management and processing of waste, Grey Water Management, Organic food
                    sourcing, Medical Campaigns and Green drive plantations.</p>
            </div>
        </div>
    </div>
</section>