@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');


.image-container {
  position: relative;
  width: 100%;
}

.contact-us-image {
  width: 100%;
  height: auto;
}

.container{
  margin-bottom: 5rem;
}

.centered-text h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  color: #ffffff;
  font-weight: 700;
}

.help {
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 70px 0px;
  color: #56b13d;
}

#span1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

#span2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
}

span {
  display: block;
}

header {
  padding: 10px;
  color: #56b13d;
}

#send {
  color: rgb(94, 91, 91);
}

h3{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.stylish-underline {
  position: relative;
  text-decoration: none;
}

.stylish-underline::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #56b13d;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.stylish-underline:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.column2 {
  padding: 10px;
  margin-top: 10px;
  height: max-content;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  border-radius: 11px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #414141;
}

.box {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 15px;
  background-color: #61CE70;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  border-radius: 10px;
  word-break: break-word;
  align-items: center;
}

.data{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  margin-top: 5px;
}

.box .data h3{
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  margin: -2px;
  font-family: 'Raleway', sans-serif;
}

.box .data p{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.box:hover {
  background-color: #1e2434;
  cursor: pointer;
  transition: background-color .15s;
  color: #61CE70;
  border: 1px solid 61CE70;
}

.box:hover h3{
  color: #fff;
}

.icon {
  color: #fff;
  padding: 7.5px;
}

.box:hover .icon{
  color: #61CE70;
}

.data {
  padding: 7.5px;
  /* background-color: red; */
}

.fields {
  display: flex;
  justify-content: space-evenly;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  padding: 10px;
}

input,
textarea {
  display: block;
  width: 100%;
  height: calc(2.35rem + 2px);
  padding: 1.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;

  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:active,
  &:focus {
    border: 1px solid #56b13d;
    outline: none;
    box-shadow: 0 0 5px #82c76f;
  }
}

textarea {
  height: calc(8rem + 2px);
}

.send-button {
  padding: 10px 20px;
  /* Adjust padding as needed */
  cursor: pointer;
  border: 2px solid #56b13d;
  border-radius: 10px;
  color: #56b13d;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.send-button:hover {
  background-color: #56b13d;
  /* Adjust the background color on hover */
  color: #fff;
  /* Adjust the text color on hover */
  transform: scale(0.9);
  /* Adjust the scale as needed */
}
