/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}

.bg{
    /* background-color: blue; */
    margin: -9px auto;
    width: 90%;
}

.navbar-nav{
    /* background-color: red; */
    width: 100%;
}

.navbar .bg ul li a{
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar .bg .dropdown-menu li a,button{
    font-size: 12px;
    padding: 5px 20px;
}

.navbar .bg ul li a:hover{
    color: #61CE70;
}

.dropdown-menu{
    border-top: 5px solid #61CE70;
}

  /* .navbar-nav {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .navbar-nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .navbar-nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .3em 0.5em;
    padding: 0;
  }
  
  .navbar-nav a {
    padding: .5em .8em;
    color: #000;
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar-nav a::before,
  .navbar-nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .navbar-nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
  }
  
  .navbar-nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
  }
  
  .navbar-nav a:hover:before,
  .navbar-nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .navbar-nav a:hover {
    color: #3DA35D;
  } */