<div class="image-container">
  <img src="assets/images/career.jpg" alt="career" class="career-image">
  <div class="centered-text">
    <h1 class="tw"></h1>
    <!-- <p>[ home - career ]</p> -->
  </div>
</div>

<div class="container-fluid">
  <div class="row content">
   <div class="col-lg-6" data-aos="fade-up" data-aos-duration="2000">
    <form>
      <div class="row">
        <div class="cpl-md-6">
          <header class="info">
            Personal Information
          </header>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <input id="first-name" type="text" placeholder="Enter Name" class="fields">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <input id="middle-name" type="text" placeholder="Enter Email" class="fields">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input id="phone" type="text" placeholder="Phone" class="fields">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <input id="address" type="text" placeholder="Address" class="fields">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group" >
            <label for="cv">Upload CV</label>
            <input id="cv" type="file" class="file-input">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group" >
            <button class="send-button" (mouseenter)="OnHover(true)" (mouseleave)="OnHover(false)">
              Send Now &nbsp;
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
   </div>
   <div class="col-lg-6 col2" data-aos="fade-up" data-aos-duration="2000">
    <img src="assets/images/hiring.webp" alt="We are hiring" class="image">
   </div>
  </div>
</div>
