@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');


.image-container {
  box-sizing: border-box;
    height: 450px;
    background-image: url(../../assets/career.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.career-image {
  width: 100%;
  height: auto;
  /* height: auto; */
}

@media only screen and (max-width: 550px) {
  .career-image {
    width: 100%;
    height: 200px;
  }
}

.centered-text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.content {
  margin: 5rem 0rem;
}

form {
  background-color: white;
  padding: 2rem;
  margin: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px -10px rgb(185, 187, 179);
}

form:hover {
  box-shadow: 0px 0px 50px -10px #a1eb8c;
  transition: 2s;
}

header {
  font-family: 'Raleway', sans-serif;
  color: #61CE70;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: normal;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 2rem;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  padding: 10px;
}

.fields {
  display: block;
  width: 100%;
  height: calc(2.35rem + 2px);
  padding: 1.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;

  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:active,
  &:focus {
    border: 1px solid #56b13d;
    outline: none;
    box-shadow: 0 0 5px #82c76f;
  }
}

textarea {
  height: calc(8rem + 2px);
}

.send-button {
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Adjust padding as needed */
  cursor: pointer;
  border: 2px solid #56b13d;
  border-radius: 10px;
  color: #56b13d;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.send-button:hover {
  background-color: #56b13d;
  color: #fff;
  transform: scale(0.9);
}

@media only screen and (max-width: 550px) {
  .centered-text h1 {
    font-size: 50px;
    line-height: 1;
  }

  .centered-text p{
    width: 30%;
    font-size: 10px;
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-50%, -50%);
}
}