<section id="banner">
    <div class="container-fluid banner">
        <h1 class="tw"></h1>
        <!-- <p>[ home - about ]</p> -->
    </div>
</section>

<!-- history data -->
<section id="history" class="history">
    <div class="container-fluid heading">
        <p class="text-center" data-aos="fade-right" data-aos-duration="2000">BRIEF HISTORY</p>
        <h1 class="text-center" data-aos="fade-right" data-aos-duration="2000">EXPERIENCE YOU CAN COUNT ON</h1>

        <div class="container data">
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-lg-5 box box-left shadow">
                    <div class="imagebox">
                        <img src="../../assets/about.jpeg">
                    </div>
                </div>
                <div class="col-lg-6 box box-right">
                    <p>AWMPL: Transforming Waste into Wealth, Across India.</p>
                    <p>Established in 2023, AWMPL has rapidly become India's fastest-growing force in waste management,
                        pioneering solutions for a cleaner, healthier future. We started with expertise in Fecal Sludge
                        Management and Biomethanation, and now offer comprehensive, end-to-end solutions across diverse
                        waste streams: <span>Municipal Solid Waste, Industrial Waste Management, Biomedical Waste,
                            Construction and Demolition Waste, Integrated Environmental Services, Consultancy,
                            Recycling.</span></p>
                    <!-- <ul>
                            <li>Municipal Solid Waste</li>
                            <li>Industrial Waste Management</li>
                            <li>Biomedical Waste</li>
                            <li>Construction and Demolition Waste</li>
                            <li>Integrated Environmental Services</li>
                            <li>Consultancy</li>
                            <li>Recycling</li>
                        </ul> -->
                    <p>Our commitment to economically viable and sustainable practices has earned us a significant
                        footprint across 5 locations in India: <span>Khammam, Nizamabad, Kothagudam, Chittapur, Pune.</span>
                        We are proud to be the leading proponent of Fecal Sludge Management and Biomethanation in the
                        nation, managing: <span>2.2 Million tons of Municipal Solid Waste per year, 1+ Lakh KLD of Fecal
                            Sludge per year, 75,000 TPD of Material Recovery Facility per year</span></p>
                    <p>At AWMPL, we're passionate about exceeding environmental standards. We ensure strict compliance
                        with CPCB and all applicable laws, striving to achieve the UN's ambitious ESG goals. Join us on
                        our mission to turn waste into wealth, protect our planet, and empower communities. Explore our
                        services, discover our success stories, and become part of a future where waste is no longer a
                        problem, but a valuable resource.</p>

                    <div class="auther">
                        <p>Director, Azfa Waste Management</p>
                        <!-- <p>Director, Azfa Waste Management</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- mission & vision -->
<section id="mission">
    <app-mission></app-mission>
</section>

<!-- <app-logos></app-logos> -->