<section id="banner">
    <div class="container-fluid banner">
        <h1 class="tw"></h1>
        <p>[home - about]</p>
    </div>
</section>

<!-- history data -->
<section id="history" class="history">
    <div class="container-fluid heading">
        <p class="text-center">BRIEF HISTORY</p>
        <h1 class="text-center">EXPERIENCE YOU CAN COUNT ON</h1>

        <div class="container data">
            <div class="row">
                <div class="col-lg-5 box box-left shadow">
                    <div class="imagebox">
                        <img src="../../assets/about.jpeg">
                    </div>
                </div>
                <div class="col-lg-6 box box-right">
                    <p>Cube bio-Energy Private Limited (CBEPL) is the fastest growing company in Waste Management in
                        India. CBEPL established in 2009 started its journey by providing solutions to Fecal Sludge
                        Management and Bio methanation. CBEPL now focusing on Municipal Solid Waste, Industrial Waste
                        Management, Biomedical Waste, Construction and Demolition Waste, Integrated Environmental
                        Services, Consultancy and Recycling with complete end to end economically viable solutions.</p>
                    <p>At present CBEPL has foot prints, 85 locations spread across India. CBEPL is the pioneer in Fecal
                        Sludge Management and Bio methanation. CBEPL manages 2.2 Mn tons of Municipal Solid Waste per
                        annum, 1+ Lakhs KLD Fecal Sludge per annum and 75000 TPD of MRF per annum. CBEPL is having
                        techno commercial solution partnerships with countries like, Peru, Belgium, Sweden, Germany,
                        Italy, Singapore, Japan and USA.</p>
                    <p>CBEPL fully committed to ensuring its operations comply with all CPCB and other applicable laws
                        to achieve ESG goals defined by UN. Over 12+ years of operational history, CBEPL has a
                        competitive edge over all other companies, as CBEPL is open to provide economically viable
                        techno commercial solutions to all kinds of small, medium and large-scale problems in waste
                        management.</p>

                    <div class="auther">
                        <p>UMAMAHESWARA REDDY BONTHU</p>
                        <p>FOUNDER AND MANAGING DIRECTOR</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- mission & vision -->
<app-mission></app-mission>

<app-logos></app-logos>