@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

h2 {
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 30px 0px;
    color: #61CE70;
}

.carousal {
    margin: 1px auto;
}

.imageholder {
    max-height: 300px;
}

.logo-slider {
    width: 80%;
    background-color: red;
    margin: auto;
}

.logo-item img {
    width: 10%;
    height: auto;
}

/* .box {
    background-color: red;
    margin: 10px auto;
} */

  

  
  
  
  
  
  