.box{
    /* background-color: red; */
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img{
    width: 80%;
}

.partners{
    /* background-color: red; */
    margin: 20px auto;
  }
  
  .partners h1{
    /* margin: 70px 0px; */
    /* font-family: 'Nova Square', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Raleway', sans-serif;
    color: #61CE70;
    font-size: 34px;
    font-weight: bold;
  }