<section class="partners">
    <h1 class="text-center">Our Partners</h1>
    <div class="container text-center">
        <owl-carousel-o [options]="customOptions" #owlCar>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p1.png">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p2.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p3.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p4.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p5.png" class="fifth">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p6.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p7.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="box">
                    <img src="../../assets/p8.png" alt="">
                </div>
            </ng-template>
        </owl-carousel-o>
    
    </div>
  </section>



<!-- <owl-carousel-o [options]="customOptions" #owlCar>

    <ng-container *ngFor="let item of carouselData">
      <ng-template carouselSlide [id]="item.id">
        <div class="slider">
            <img [src]="item.src" [title]="item.title">
        </div>
      </ng-template>
    </ng-container>
    
  </owl-carousel-o> -->


    