<section id="mission" class="mission sections-bg">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 outbox" data-aos="fade-up" data-aos-duration="2000">
                <div class="mission-item  position-relative shadow">
                    <div class="icon">
                        <mat-icon>
                            remove_red_eye
                        </mat-icon>
                    </div>
                    <h4 class="text-center">Cube Bio Energy</h4>
                    <h3 class="text-center">vision statement</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 outbox" data-aos="fade-up" data-aos-duration="2000">
                <div class="mission-item position-relative shadow">
                    <div class="icon">
                        <mat-icon>
                            psychology
                        </mat-icon>
                    </div>
                    <h4 class="text-center">Cube Bio Energy</h4>
                    <h3 class="text-center">mission statement</h3>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 outbox" data-aos="fade-up" data-aos-duration="2000">
                <div class="mission-item position-relative shadow">
                    <div class="icon">
                        <mat-icon>
                            description
                        </mat-icon>
                    </div>
                    <h4 class="text-center">Cube Bio Energy</h4>
                    <h3 class="text-center">philosopy</h3>
                </div>
            </div>
        </div>
    </div>
</section>