<div class="image-container">
  <img src="assets/images/career.jpg" alt="career" class="career-image">
  <div class="centered-text">
    <h1>CAREER - CUBE BIOENERGY</h1>
  </div>
</div>
<div class="container-fluid row">
  <header class="info">
    Personal Information
  </header>
  <div class="column formdiv">
    <form>
      <div class="fields">
        <div class="input-group">
          <input id="first-name" type="text" placeholder="Enter Name">
        </div>
        <div class="input-group">
          <input id="middle-name" type="text" placeholder="Enter Email">
       </div>
      </div>
      <div class="fields">
        <div class="input-group">
          <input id="phone" type="text" placeholder="Phone">
        </div>
        <div class="input-group">
          <input id="Address" type="text" placeholder="Address">
       </div>
      </div>

      <div class="fields">
        <div class="input-group" >
          <label for="cv">CV</label>
          <input id="cv" type="file" class="file-input">
        </div>
      </div>
      <div class="fields">
        <div class="input-group" >
          <button class="send-button" (mouseenter)="OnHover(true)" (mouseleave)="OnHover(false)">
            Send Now &nbsp;
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>

  </div>
  <div class="column">
    <img src="assets/images/hiring.webp" alt="We are hiring" class="image">
  </div>
</div>
