<div class="image-container">
  <img [src]="resultdata.banner" alt="msw" class="msw-image">
  <div class="centered-text">
    <h1 class="tw"></h1>
  </div>
</div>
<div class="container-fluid data">
  <div class="row">
    <div class="col-lg-8">
      <header data-aos="fade-right" data-aos-duration="2000">
        <h2 class="stylish-underline"> {{resultdata.title}} </h2>
      </header>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <div class="container" data-aos="fade-up" data-aos-duration="2000">
          <p>{{resultdata.info}}</p>
        </div>
      </div>
      <div class="col-lg-6">
          <img [src]="resultdata.image" alt="msw2" class="image" data-aos="fade-up" data-aos-duration="2000">
      </div>
  </div>
  </div>
</div>
