@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

.banner {
    box-sizing: border-box;
    height: 450px;
    /* background: url(../../assets/c3.jpg); */
    background-image: url(../../assets/directors.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity (0.5 for 50% blackish effect) */
}

.banner h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

.banner p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    /* background-color: red; */
    top: 90%;
    left: 85%;
    transform: translate(-10%, -50%);
    color: #fff;
}

.names {
    /* background-color: red; */
    padding: 100px 50px;
    /* padding: 100px; */
}

.names h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #61CE70;
    line-height: 1;
    /* word-break: break-word; */
    /* background-color: yellow; */
}

.member h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.member p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #61CE70;
    font-size: 18px;
}

@media only screen and (max-width: 550px){
    .banner h1 {
        font-size: 50px;
        line-height: 1;
    }

    .banner p{
        width: 40%;
        font-size: 10px;
        position: absolute;
        top: 90%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .names h1{
        text-align: center;
    }
}

/*  */

.names .member {
    position: relative;
  }
  
  .names .member .member-img {
    margin: 0 10px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 4px solid #fff;
    box-shadow: 0 15px 35px -10px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 1024px) {
    .names .member .member-img {
      margin: 0 10px;
    }
  }
  
  .names .member .member-img img {
    position: relative;
    z-index: 1;
  }
  
  .names .member .member-img .social {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-bottom: 20px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  
  .names .member .member-img .social a {
    transition: 0.3s;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
  }
  
  .names .member .member-img .social a:hover {
    color: #fff;
  }

  .names .member:hover .member-img .social {
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
  }

  .names .member .member-info {
    margin-top: 30px;
  }
  
  
