<section id="banner">
    <div class="container-fluid banner">
        <h1>BOARD OF DIRECTORS - CUBE BIOENERGY</h1>
        <p>[home - BOARD OF DIRECTORS]</p>
    </div>
</section>

<section class="names">
    <div class="container">
        <h1 class="text-center">Board Of Directors & Management Team</h1><br><br>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/umama.png" class="image">
                <h2 class="text-center">Umamaheswara Reddy Bonthu</h2>
                <p class="text-center">Promotor and Managing Director</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/sasanka.png" class="image">
                <h2 class="text-center">Sasanka Velidandla</h2>
                <p class="text-center">Promotor and Director</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/srkk.png" class="image">
                <h2 class="text-center">SRKKSJ Raja Bahadur</h2>
                <p class="text-center">Director, Cube bio-Energy (P) Ltd</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/srinadha.png" class="image">
                <h2 class="text-center">Srinadha Reddy Modugula</h2>
                <p class="text-center">Director, Cube bio-Energy (P) Ltd</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
        </div>