<section id="banner">
    <div class="container-fluid banner">
        <h1 class="tw"></h1>
        <!-- <p>[ home - BOARD OF DIRECTORS ]</p> -->
    </div>
</section>

<section class="names">
    <div class="container">
        <h1 class="text-center" data-aos="fade-up" data-aos-duration="1500">Board Of Directors & Management Team</h1>
        <br><br>
        <!-- <div class="row" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/umama.png" class="image">
                <h2 class="text-center">Azruddin Bashir Sayyed</h2>
                <p class="text-center">Director</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/sasanka.png" class="image">
                <h2 class="text-center">Irfan Isak Shaikh</h2>
                <p class="text-center">Director</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/srkk.png" class="image">
                <h2 class="text-center">Mahadev Swami Pawar</h2>
                <p class="text-center">Director</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 photo">
                <img src="../../assets/srinadha.png" class="image">
                <h2 class="text-center">Ashfaq Mohammad Rafiq Shaikh</h2>
                <p class="text-center">Director</p>
                <div class="overlay">
                    <div class="text">
                        <h3>Click for More</h3>
                    </div>
                </div>
            </div>
        </div> -->
        <!--  -->
        <div class="row gy-5">
            <div class="col-lg-3 col-md-6 col-sm-6 member" data-aos="fade-up" data-aos-duration="1400">
              <div class="member-img">
                <img src="../../assets/Azhar.png" class="img-fluid" alt="">
                <!-- <div class="social">
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info text-center">
                <h2 class="text-center">Azaruddin Bashir Sayyed</h2>
                <p class="text-center">Director</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-3 col-md-6 col-sm-6 member" data-aos="fade-up" data-aos-duration="1600">
              <div class="member-img">
                <img src="../../assets/Irfan.png" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h2 class="text-center">Irfan Isak Shaikh</h2>
                <p class="text-center">Director</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-3 col-md-6 col-sm-6 member" data-aos="fade-up" data-aos-duration="1800">
              <div class="member-img">
                <img src="../../assets/Pawar.png" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h2 class="text-center">Mahadev Swami Pawar</h2>
                <p class="text-center">Director</p>
              </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 col-sm-6 member" data-aos="fade-up" data-aos-duration="2000">
                <div class="member-img">
                  <img src="../../assets/Ashfaq.png" class="img-fluid" alt="">
                </div>
                <div class="member-info text-center">
                    <h2 class="text-center">Ashfaq Mohammad Rafiq Shaikh</h2>
                    <p class="text-center">Director</p>
                </div>
              </div><!-- End Team Member -->
          </div>
    </div>
</section>