<button class="btn btn-info" (click)="showSoln($event)" value="MUNICIPAL SOLID WASTE">MUNICIPAL SOLID WASTE</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="BIOMINING – REMEDIATION AND RECLAMATION OF OLD LEGACY MSW">BIOMINING – REMEDIATION AND RECLAMATION OF OLD LEGACY MSW</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="MRF (MATERIAL RECOVERY FACILITIES)">MRF (MATERIAL RECOVERY FACILITIES)</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="FECAL SLUDGE MANAGEMENT">FECAL SLUDGE MANAGEMENT</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="INDUSTRIAL WASTE MANAGEMENT">INDUSTRIAL WASTE MANAGEMENT</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="BIOMEDICAL WASTE MANAGEMENT">BIOMEDICAL WASTE MANAGEMENT</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="CONSTRUCTION AND DEMOLITION WASTE MANAGEMENT">CONSTRUCTION AND DEMOLITION WASTE MANAGEMENT</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="INTEGRATED ENVIRONMENTAL SERVICES">INTEGRATED ENVIRONMENTAL SERVICES</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="CONSULTANCY">CONSULTANCY</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="RECYCLING">RECYCLING</button> <br>
<button class="btn btn-info" (click)="showSoln($event)" value="R&D IN WASTE MANAGEMENT">R&D IN WASTE MANAGEMENT</button>

