<!-- image carousal -->
<div class="container-fluid carousal">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner imageholder">
      <div class="carousel-item active">
        <img src="../../assets/c1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/c2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/c3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container info">
  <h1 class="text-center">Cube bio-Energy Private Limited</h1>
  <p>Cube bio-Energy Private Limited (CBEPL) is the fastest growing company in Waste Management in India. CBEPL
    established in 2009 started its journey by providing solutions to Fecal Sludge Management and Bio methanation. CBEPL
    now focusing on Municipal Solid Waste, Industrial Waste Management, Biomedical Waste, Construction and Demolition
    Waste, Integrated Environmental Services, Consultancy and Recycling with complete end to end economically viable
    solutions.</p>
</div>

<!-- mission & vision -->
<app-mission></app-mission>

<section class="partners">
  <h1 class="text-center">Our Partners</h1>
  <app-logos></app-logos>
</section>

<!-- our partners -->
<!-- <ngx-slick-carousel class="logo-slider" [config]="slickCarouselConfig">
  <div *ngFor="let logo of logos" class="logo-item">
    <img src="{{ logo }}" alt="Logo">
  </div>
</ngx-slick-carousel> -->